<script setup lang="ts">
import { inject } from "vue";
import { SyncProvider } from "../../providers/Sync/SyncProvider";
import { Database, DatabaseStatus } from "../../providers/Sync/types";
import { row, formatBytes, formatPercentage } from "../../formatters";

defineProps<{
    /** The database that this component represents.*/
    model: Database;
}>();

const actions: [string, string][] = [
    ["Download", "d"],
    ["Wipe", "w"],
];

const sync_provider = inject<SyncProvider>(SyncProvider.Key);
</script>

<template>
    <div class="container">
        <BaseTree>
            <template #node>
                <v-icon name="fa-database" class="icon" />
                <span class="name">{{ model.name }}</span>
            </template>
            <table>
                <tr>
                    <td>Source<span class="dots">...</span></td>
                    <td>{{ model.original_source }}</td>
                </tr>
                <tr>
                    <td>Last sync</td>
                    <td>Never</td>
                </tr>
                <tr>
                    <td>Status<span class="dots">...</span></td>
                    <td>{{ model.status }}</td>
                </tr>
            </table>
            <BaseTree>
                <template v-if="model.status == DatabaseStatus.Error">
                </template>
                <template v-if="model.status == DatabaseStatus.Processing">
                    <table>
                        <tr>
                            <td>Processed</td>
                            <td>
                                <span class="row">{{
                                    row(
                                        26,
                                        `${model.sync.processed} entries`,
                                        `(${formatPercentage(
                                            model.sync.processed +
                                                model.sync.skipped,
                                            model.sync.entries
                                        )})`
                                    )
                                }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Progress<span class="dots">..</span></td>
                            <td>
                                <BaseProgressBar
                                    width="26"
                                    :current="
                                        model.sync.processed +
                                        model.sync.skipped
                                    "
                                    :max="model.sync.entries"
                                ></BaseProgressBar>
                            </td>
                        </tr>
                    </table>
                </template>
                <template v-else>
                    <table>
                        <tr>
                            <td>Downloaded</td>
                            <td>
                                <span class="row">{{
                                    row(
                                        26,
                                        formatBytes(model.download.downloaded),
                                        `(${formatPercentage(
                                            model.download.downloaded,
                                            model.download.content_length
                                        )})`
                                    )
                                }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Progress<span class="dots">..</span></td>
                            <td>
                                <BaseProgressBar
                                    width="26"
                                    :current="model.download.downloaded"
                                    :max="model.download.content_length"
                                ></BaseProgressBar>
                            </td>
                        </tr>
                    </table>
                </template>
            </BaseTree>
            <BaseTree>
                <template #node>
                    <span>Actions</span>
                </template>
                <div v-for="action in actions" :key="action[0]" class="action">
                    <BaseShortcut
                        :label="action[0]"
                        :shortcut="action[1]"
                        :click="() => sync_provider?.start(model.download)"
                    />
                </div>
            </BaseTree>
        </BaseTree>
    </div>
</template>

<style scoped lang="scss">
@use "mixins";

.icon {
    @include mixins.icon;
}

.name {
    margin-left: 1ch;
    vertical-align: middle;
}

.original_source {
    color: var(--fg);
}

td {
    padding: 0;

    &:first-child {
        padding-right: 1ch;
        // text-align: right;
        color: var(--info);
    }
}

.container {
    line-height: 1.5;
}

.dots {
    font-variant-ligatures: none;
    color: var(--fg-dim);
}

.row {
    white-space: pre;
}
</style>
