<script setup lang="ts">
import { inject } from "vue";
import { SyncProvider } from "../../providers/Sync/SyncProvider";

const sync = inject<SyncProvider>(SyncProvider.Key);
</script>

<template>
    <BasePanel>
        <SyncDatabase
            v-for="db in sync?.databases"
            :key="db.name"
            :model="db"
        />
    </BasePanel>
</template>

<style scoped lang="scss">

</style>
