<script setup lang="ts">

</script>

<template>
    <BasePanel>
        <StartBanner />
        <StartLink
            to="/"
            icon="ri-stack-fill"
            shortcut="s"
            text="Manage your stacks"
        />
        <StartLink to="/" icon="fa-pills" shortcut="p" text="Search products" />
        <StartLink
            to="/sync"
            icon="fa-download"
            shortcut="d"
            text="Sync product database"
        />
        <StartLink
            to="/"
            icon="bi-gear-fill"
            shortcut="c"
            text="Configuration"
        />
    </BasePanel>
</template>

<style scoped lang="scss">

</style>
