<script setup lang="ts">
const version = PACKAGE.version;
</script>

<template>
    <div>
        <pre role="banner">
                              ___
                             /\_ \
  ____  __  __  _____   _____\//\ \     ___      ___
 /',__\/\ \/\ \/\ '__`\/\ '__`\\ \ \   / __`\   / __`\
/\__, `\ \ \_\ \ \ \_\ \ \ \_\ \\_\ \_/\ \_\.\_/\ \ \ \
\/\____/\ \____/\ \ ,__/\ \ ,__//\____\ \__/.\_\ \_\ \_\
 \/___/  \/___/  \ \ \/  \ \ \/ \/____/\/__/\/_/\/_/\/_/
                  \ \_\   \ \_\
                   \/_/    \/_/  {{ version }}
        </pre>
    </div>
</template>

<style scoped lang="scss">
div {
    position: relative;
    width: 100%;
    height: 12rem;
    margin-bottom: 4rem;
}

pre {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);

    user-select: none;
    pointer-events: none;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: -0.15rem;
    color: var(--fg-dim);
}
</style>
