<script setup lang="ts">
defineProps<{
    /** Path to navigate to. */
    to: string;

    /** OhVueIcon icon ID. */
    icon: string;

    /** TODO: Make this actually work. */
    shortcut: string;

    /** Display text. */
    text: string;
}>();
</script>

<template>
    <router-link class="link" :to="to">
        <v-icon class="icon" :name="icon" />
        <span class="text">{{ text }}</span>
        <span class="arrow">{{ " ->" }}</span>
        <span class="command">space, {{ shortcut }}</span>
    </router-link>
</template>

<style scoped lang="scss">
@use "mixins";

.link {
    @include mixins.hover;
    @include mixins.no-select;

    display: block;
    width: 25rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 0.75rem;
    margin: auto;
    color: inherit;
    text-decoration: none;
    border-radius: var(--border-radius);

    > * {
        vertical-align: middle;
    }
}

.icon {
    @include mixins.icon(1.25);
    margin-right: 1rem;
    vertical-align: -0.45rem;
}

.arrow {
    color: var(--fg-dim);
}

.command {
    color: var(--accent);
    float: right;
}

.space {
    vertical-align: -0.35em;
}
</style>
