<script setup lang="ts"></script>

<template>
    <div class="panel">
        <div class="center">
            <slot></slot>
        </div>
    </div>
</template>

<style scoped lang="scss">
.panel {
    position: relative;
    width: 100%;
    height: 100%;
}

.center {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
</style>
