<script setup lang="ts">
import { ref } from "vue";

defineProps<{
    /** Whether the children can be collapsed by clicking the node. */
    collapsible?: boolean;
}>();

const collapsed = ref(false);
</script>

<template>
    <div :class="{ collapsible }">
        <slot name="node"></slot>
    </div>
    <div class="children" :class="{ collapsed }">
        <slot></slot>
    </div>
</template>

<style scoped lang="scss">
@use "mixins";

.collapsible {
    @include mixins.hover;
}

.children {
    width: 100%;
    padding-left: 4ch;
    box-sizing: border-box;

    &.root {
        padding-left: 0;
    }

    &.collapsed {
        visibility: hidden;
    }
}
</style>
