<script setup lang="ts">
defineProps<{
    /** Click event handler. */
    click?: () => void;

    /** Display text for this shortcut. */
    label?: string;

    /** Which key to use for the shortcut. */
    shortcut: string;
}>();
</script>

<template>
    <div class="container" :class="{ clickable: click }" @click="click">
        <template v-if="label">
            <span>{{ label }}</span>
            <span class="arrow">{{ "->" }}</span>
        </template>
        <span class="shortcut">space, {{ shortcut }}</span>
    </div>
</template>

<style scoped lang="scss">
@use "mixins";

.container {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;

    &.clickable {
        @include mixins.hover;
    }
}

.arrow {
    @include mixins.no-select;
    color: var(--fg-dim);
    padding: 0 1ch;
}

.shortcut {
    flex: 1;
    color: var(--accent);
    text-align: right;
}
</style>
