<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
    /** Width of the progress bar, in characters. */
    width: number;

    /** The current value that this progress bar represents. */
    current?: number;

    /** The maximum value, which corresponds to 100%. */
    max?: number;
}>();

const start = "[";
const end = "]";
const empty = ".";
const full = "#";

const bar = computed(() => {
    const inner_width = props.width - 2;

    if (!props.current || !props.max) {
        return start + empty.repeat(inner_width) + end;
    }

    const ratio = props.current / props.max;
    const full_cells = Math.min(Math.ceil(ratio * inner_width), inner_width);
    const empty_cells = inner_width - full_cells;

    return start + full.repeat(full_cells) + empty.repeat(empty_cells) + end;
});
</script>

<template>
    <span>{{ bar }}</span>
</template>

<style scoped lang="scss">
span {
    white-space: pre;
    font-variant-ligatures: none;
}
</style>
