@mixin hover {
    cursor: pointer;

    &:hover {
        background: var(--bg-hover);
    }

    &:active {
        background: var(--bg-active);
    }
}

@mixin no-select {
    user-select: none;
    -webkit-user-drag: none;
}

@mixin icon($scale: 1) {
    $size: 1.2rem * $scale;
    width: #{$size};
    height: #{$size};
}
