:root {
    $font-size: 16px;
    $bg: #111111;
    $fg: #eeeeee;

    // Dimensions
    --font-size: #{font-size};
    --border-radius: 0.3rem;

    // Colors
    --bg: #{$bg};
    --bg-hover: #{rgba(white, 0.1)};
    --bg-active: #{rgba(white, 0.06)};
    --fg: #{$fg};
    --fg-dim: #{darken($fg, 60%)};

    --accent: #70ad00;
    --info: #00a1ad;
}
