@use "font";
@use "vars";

:root,
pre,
code {
    font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
    :root,
    pre,
    code {
        font-family: "Fira Code VF", monospace;
    }
}

:root {
    font-size: var(--font-size);
    line-height: 1;
    font-weight: 400;

    background-color: var(--bg);
    color: var(--fg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
    height: 100%;
    margin: 0;
}
